{% extends "layout.html" %}
{% block content %}

<div class="blog-post">
    <h5 class="blog-post-title mb-4">Guide</h5>
    <p class="blog-post-meta">Last update on December 24, 2018<br>
        <a href="#">Get started with Sales Trends</a>
    </p>
    <p class="blog-post-meta">Last update on March 10, 2018<br>
        <a href="#">Statistic</a>
    </p>
    <p class="blog-post-meta">Last update on December 24, 2018<br>
        <a href="#">Guide to Regression</a>
    </p>
    <p></p>
</div><!-- /.blog-post -->

{% endblock content %}